.searchBar {
  padding: 10px;
  background-color: rgb(9, 9, 211);
}

.form {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.searchBtn {
  position: absolute;
  top: 10px;
  left: 10px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
}
